* {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #1f1d1d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #wrapper {
  padding-top: 1%;
}

#main #wrapper button {
  background-color: teal;
  border: transparent;
}

#main #wrapper button:hover {
  background-color: #036363;
}

#simon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2%;
}

#simon-wrapper #simon {
  position: relative;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: #161616;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

#simon-wrapper #simon #green {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 3%;
  bottom: 52%;
  width: 45%;
  height: 45%;
  background: #0d7e00;
  border-radius: 0 100% 0 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

#simon-wrapper #simon #red {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 51.5%;
  bottom: 52%;
  width: 45%;
  height: 45%;
  background: #b40600;
  border-radius: 100% 0 0 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

#simon-wrapper #simon #yellow {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 51.5%;
  bottom: 4%;
  width: 45%;
  height: 45%;
  background: #c3b400;
  border-radius: 0 0 0 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

#simon-wrapper #simon #blue {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 3%;
  bottom: 4%;
  width: 45%;
  height: 45%;
  background: #196d85;
  border-radius: 0 0 100% 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

#simon-wrapper #simon #inner-circle {
  position: absolute;
  right: 38%;
  bottom: 40%;
  width: 24%;
  height: 24%;
  border-radius: 50%;
  background-color: #161616;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.12);
}

#simon-wrapper #simon #inner-circle p {
  font-size: 140%;
  position: absolute;
  bottom: 15%;
  right: 25%;
  color: whitesmoke;
  background-color: transparent;
}

#simon-wrapper #simon #inner-circle p span {
  font-size: 120%;
  color: whitesmoke;
  background-color: transparent;
  display: block;
  text-align: center;
}

@media (max-width: 750px) {
  #main {
    margin-top: 5%;
  }
  #simon-wrapper #simon {
    margin-top: 5%;
    width: 500px;
    height: 500px;
  }
  #simon-wrapper #simon #inner-circle p {
    bottom: 15%;
    font-size: 120%;
  }
  #simon-wrapper #simon #inner-circle p span {
    font-size: 100%;
  }
}

@media (max-width: 450px) {
  #main {
    margin-top: 10%;
  }
  #simon-wrapper #simon {
    margin-top: 15%;
    width: 350px;
    height: 350px;
  }
  #simon-wrapper #simon #inner-circle p {
    bottom: 10%;
    font-size: 100%;
  }
  #simon-wrapper #simon #inner-circle p span {
    font-size: 90%;
  }
}

.color-selected {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}
/*# sourceMappingURL=styles.css.map */